.card {
    height: 100px;
    width: 100px;
    /* background-color: rgb(213, 209, 209); */
}
h2 {
    text-align: center;
    line-height: 100px;
}
img {
    height: 200px;
    width: 200px;
    margin-left: 650px;

}
.payment-section {
    margin-top: 200px;
}