.card {
    height: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(213, 209, 209); */
}
.card-body{
    margin-right: auto;
    margin-left: auto;
}
h2 {
    text-align: center;
    line-height: 100px;
}
img {
    height: 250px;
    width: 250px;
}
.payment-section {
    margin-top: 100px;
}
