.card {
    height: 100px;
    width: 100px;
    /* background-color: rgb(213, 209, 209); */
}
h2 {
    text-align: center;
    line-height: 100px;
}
img {
    height: 250px;
    width: 250px;
    margin-left: 510%;

}
.payment-section {
    margin-top: 100px;
}
