* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
    position: relative;
    height: 400px;
    /* background-color: rgb(213, 209, 209); */
}
.card-body {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
    text-align: center;
    line-height: 100px;
}

/*img {
    height: 200px;
    width: 200px;
    margin-left: 650px;

}*/
/*.payment-section {
    text-align: center;
    margin-top: 200px;
}*/
